.my-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%:
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 5px solid #721ee3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
